/*CSS file for d3 maps*/



html,body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  /*pointer-events: none;*/
}

.barchart .bars.enterSelection  { /* Select decendants of class 'barchart' elements where the descendants  are both of class  'bars'  AND  class 'enterSelection' */
	fill: steelblue;
	stroke: gray;
	stroke-width: 1;
	opacity: 0.5;
}

.barchart .bars.updateSelection {
	fill: blue;
	stroke: gray;
	stroke-width: 1;
	opacity: 0.5;
}

.barchart .bars.exitSelection {
	fill: gray;
	stroke: gray;
	stroke-width: 1;
	opacity: 0.5;
}

.barchart .bars.highlight {
	fill: magenta;
	stroke: black;
	stroke-width: 2;
	opacity: 1.0;
}
